body {
  background-color: lavender;
  height: 100%;
}

.dark-mode {
  background-image: url("./images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.light-mode {
  /* background-image: url("./images/background.jpg"); */
  background-image: url("./images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  height: 100%;
}
